<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="IO_PORT"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
	</parent-provides>
	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>
	<default caps="100"/>

	<start name="timer">
		<resource name="RAM" quantum="1M"/>
		<provides><service name="Timer"/></provides>
	</start>

	<start name="snapper_block" ld="no">
	  <binary name="vfs_block" />
		<resource name="RAM" quantum="1G"/>
		<provides><service name="Block"/></provides>
		<config file="snapper_block.raw" block_size="512" writeable="yes"/>
	</start>

 	<start name="vfs">
 		<resource name="RAM" quantum="24M" />
 		<provides><service name="File_system"/></provides>
 		<config ld_verbose="yes">
 			<vfs>
 				<dir name="dev">
 					<block name="block" block_buffer_count="128"/>
 				</dir>
 				<lwext4 block_device="/dev/block" cache_write_back="yes" expand_via_io="yes" writeable="yes"/>
 			</vfs>
 			<policy label_prefix="snapper" root="/" writeable="yes"/>
 		</config>
		<route>
			<service name="Block"><child name="snapper_block"/></service>
			<any-service> <parent/> <any-child /> </any-service>
		</route>
 	</start>
	

	<start name="snapper" caps="2000">
		<resource name="RAM" quantum="2G"/>
		<config>
			<large seek="yes"/>
			<vfs>
        <dir name="snapper"> </dir>
				<fs/>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc"/>
		</config>
	</start>
</config>
